<%= form_for(@book) do |f| %>

  <% if @book.errors.any? %>
    <div>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title%>
  <br />

  <%= f.label :description %>
  <%= f.text_area :description%>
  <br />

  <%= f.label :author %>
  <%= f.text_field :author%>
  <br />

  <%= f.label :price %>
  <%= f.number_field :price%>
  <br />

  <%= f.submit %>
<% end %>