<div class="container" style="max-width: 500px">
  <h4 class="text-center mt-5">Add a new book for sale!</h4>
  <%= form_for(@book) do |f| %>
    <% if @book.errors.any? %>
      <div>
        <ul>
          <% @book.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.label :author %>
      <%= f.text_field :author, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <%= f.number_field :price, class: 'form-control'%>
    </div>
    <div class="text-center">
      <%= f.submit 'Add Book', class: 'btn btn-primary mt-2 mb-5' %>
    </div>
  <% end %>
</div>