<% if current_user.is_a?(Buyer)%>
  <%= form_tag root_path, method: :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", name: nil %>
    </p>
  <% end %>

  <% @books.each do |book|%>
    <% if !book.sold %>
      <li><%= book.title.upcase %> - <%= book.author.capitalize %></li>
      <%= form_tag buyer_orders_path(current_user.id), method: :post do %>
        <p>
          <%= hidden_field_tag :book_id, book.id %>
          <%= submit_tag "Add to Cart" %>
        </p>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p>Registered Books</p>
  <% @registered_books.each do |book| %>
    <li><%= book.title.upcase %> - <%= book.author.capitalize %></li>
  <% end %>
  <p>Sold Books</p>
  <% @sold_books.each do |book| %>
    <li><%= book.title.upcase %> - <%= book.author.capitalize %></li>
  <% end %>
<% end %>